*{
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: rgb(0, 0, 0);
}

.header {
    margin: 21px auto;
    text-align: center;
}

.header > img {
    height: 34px;
}

.container {
    background-color: rgb(0, 0, 0);
    width: 768px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.item {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    height: 256px;
    width: 256px;
    background-size: cover;
    transition: border;
    -webkit-transition: border;
    -moz-transition: border;
}

.item:active{
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 255);
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@media (orientation: portrait) {
    .container {
        width: 100%;
    }

    .item {
        height: 33.333vw;
        width: 33.333vw;
    }
}